h2 {
  text-align: center;
}
button {
  cursor: pointer;
}

/* ----------navbar---- */

.quality {
  /* justify-content: space-between; */
  display: flex;
}

.quality button {
  padding: 12px 15px;
  background-color: orange;
  border-radius: 12px;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  margin: auto;
  justify-content: center;
}
.quality button:hover {
  background-color: darkorange;
}

/* -----------category- */
/* .category{ */
/* background-color: white; */
/* background-image: url('https://i.pinimg.com/564x/0b/d1/60/0bd1606a60b5528a6094e20562eb3624.jpg');
  opacity: 0.1; */
/* } */
.heading {
  padding-top: 20px;
  font-size: 45px;
  text-align: center;
  font-family: sans-serif bold;
  color: #182c52;
}

.small1 {
  text-align: center;
  padding-top: 1%;
  cursor: pointer;
  display: flex;
  font-size: 6px;
  justify-content: center;
}

.small1 a:hover {
  text-decoration: underline;
}

.small1 a {
  font-family: sans-serif bold;
  color: #182c52;
}

.small1 a > h4 {
  font-size: 16px;
  padding: 9px;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  margin-left: 22%;
  display: flex;
  transition: transform 0.5s ease;
  
}

.image .photos {
  margin: 10px;
  min-width: 200px; /* Adjust this value based on your card width */
  
}

.photos > a > img {
  border-radius: 50%;
  transition: 0.3s;

  
}

.photos {
  text-align: center;
  padding: 15px;

}

.photos h4 {
  margin: 20px;
  font-weight: 500;
  color: #182c52;
}

.photos > a > img:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  transform: scale(1.1);
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


/* -------------new arrival---- */

.heading1 {
  margin-top: 8%;
  font-size: 45px;
  line-height: 42px;
  text-align: center;
  font-family: sans-serif bold;
  color: #182c52;
}

.small2 {
  text-align: center;
  padding-top: 2%;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.small2 a:hover {
  text-decoration: underline;
}

.small2 a {
  font-family: sans-serif bold;
  color: #182c52;
}

.small2 a > h4 {
  font-size: 16px;
  padding: 9px;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.resize {
  display: flex;
  overflow: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

.easy {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.easy .size {
  padding: 12px;
  margin: 12px;
  transition: 0.4s;
  min-width: 200px; /* Adjust based on your card width */
  flex-shrink: 0;
}

.size {
  position: relative;
}

.size:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
              rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transform: scale(1.1);
}

.label {
  position: absolute;
  background-color: wheat;
  padding: 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 26px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.text {
  margin-left: 12px;
  padding: 10px;
  font-size: 13px;
  color: #182c52;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


footer {
  display: flex;
  justify-content: space-around;
  background-color: gray;
  padding: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.footer {
  width: 27%;
  margin: 12px;
}

.footer123 {
  display: center;
  color: white;
  padding: 2px;
}

@media screen and (max-width: 768px) {
  .size {
    width: 45%; /* Decrease width for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .size {
    width: 100%; /* Make each item take full width on smaller screens */
  }
}

.six {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #182c52;
}

/* ul {
  list-style-type: none;
  padding: 0;
} */

li {
  color: black;
}
.foot {
  width: 20px;
  height: 20px;
}
#productContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  /* margin-left: 30px; */
  height: 53vh;
}
#productContainer > div {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}
#productContainer > div:hover {
  transform: scale(1.1);
}

.productCard button {
  display: flex;
  margin: auto;
  background-color: light;
  border-radius: 5px;
  border: 1px solid black;
}

.productCard img {
  width: 100%;
}
.productCard {
  width: 100%;
  height: auto;
}

/* -------------filters--- */
.allproducts {
  display: flex;
  /* flex-wrap: wrap;  */

  justify-content: space-around;
  width: 100%;
}

.filters {
  width: calc(15% - 10px);
  margin-left: 2%;
  /* border: 1px solid red; */
  flex-wrap: wrap;
  /* padding: 10px; */
}
.checkboxes,
.checkboxs {
  font-size: 16px;
  border-bottom: 1px solid rgb(228, 228, 228);
  width: 80%;
  margin-bottom: 2px;
}
.filters > div {
  margin-right: 20px;
}
.filters select,
.filters input[type="radio"],
.filters input[type="checkbox"] {
  margin-right: 20px;
}
.choose-color {
  color: red;
  font-weight: 400;
  font-size: 14px;
}
.title {
  font-size: 20px;
  color: #182c52;
}
.checkboxs form,
.checkboxes form {
  /* border-bottom: 1px solid rgb(182, 180, 180); */
  /* display: block; */
  font-size: 16px;
}
.radios {
  font-size: 16px;
  border-bottom: 1px solid rgb(228, 228, 228);
  width: 80%;
}
.dropbtn {
  background-color: white;
  color: black;
  padding: 12px;
  font-size: 17px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 11px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}

#video {
  width: 70%;
  margin: auto;
  border-radius: 10px;
}
input,
select {
  margin-left: 15px;
}

/* -----------single product---------- */

.single {
  display: flex;
  width: 72%;
  margin: auto;
  justify-content: space-between;
}
.saree img {
  padding: 5px;
  width: 49%;
}
#rating {
  border: 1px solid rgb(156, 156, 156);
  width: 57%;
  padding: 5px 10px;
  text-align: center;
  display: flex;
}
.purple {
  font-size: 17px;
  color: rgb(184, 184, 184);
  font-weight: 400;
}
.shopnow {
  /* border: 1px solid black; */
  width: 42%;
  margin-left: 4%;
  justify-content: center;
}

.delivery p {
  font-size: 400;
  font-size: 13px;
  /* border-bottom: 1px solid rgb(219, 219, 219); */
}
.decs1 p {
  font-size: 15px;
  /* padding: 2%; */
  font-weight: 500;
  border-bottom: 1px solid rgb(219, 219, 219);
  /* border: 1px solid red; */
}
.original {
  /* padding: 2%; */
  font-size: 16px;
  font-weight: 420;
  border-bottom: 1px solid rgb(219, 219, 219);
}
#para p {
  font-weight: 640;
}

.logo-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000; /* Ensure the logo is above the video */
}
.carousel-inner1 {
  width: 100%;
  display: inline-block;
  position: relative;
}
.carousel-inner2 {
  padding-top: 43.25%;
  display: block;
  content: "";
  /* width: 100%; */
}
/* .carousel-item2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: skyblue;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 60%;
  z-index: 9;
  margin-top: 20px;
  text-align: center;
}
.caption h1 {
  color: #fff;
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 23px;
}
.caption h2 {
  color: rgba(255, 255, 255, 0.75);
  font-size: 26px;
  font-weight: 300;
}
a.big-button {
  color: #fff;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  background: #eb7a00;
  background: rgba(255, 0, 0, 0.75);
  padding: 28px 35px;
  border-radius: 3px;
  margin-top: 80px;
  margin-bottom: 0;
  display: inline-block;
}
a.big-button:hover {
  text-decoration: none;
  background: rgba(255, 0, 0, 0.9);
}
a.view-demo {
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  display: inline-block;
  margin-top: 35px;
}
a.view-demo:hover {
  text-decoration: none;
  color: #333;
}

.carousel-indicators .active {
  background: #fff;
}
.carousel-indicators li {
  background: rgba(255, 255, 255, 0.4);
  border-top: 20px solid;
  z-index: 15;
}
#sales {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.sales img {
  width: 100%;
}
#sales > div:nth-child(1) {
  width: 80%;
}
#sales > div:nth-child(2) {
  width: 18%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
/* #shop{
  transition: 1.3s;
}
#shop:hover{
  transform: scale(1.1);
} */
#shop {
  animation: zoomInOut 1.3s infinite alternate;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

/* -------signup- */
* {
  box-sizing: border-box;
}

.easyway {
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-items: center;
  justify-content: center;
  margin-left: 36%;
}

h1 {
  color: #000;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

form {
  width: 400px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  z-index: 9999;
  box-shadow: 0px 0px 10px #fff;
}

form input {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 16px;
}

form input:focus {
  outline: none;
  border-color: #394867;
  transition: 0.3s;
}

form label {
  position: relative;
  height: 100%;
  display: block;
}

form input[type="submit"] {
  border: none;
  background-color: #394867;
  color: #fff;
}

form label span {
  font-size: 13px;
  position: absolute;
  top: -7px;
  left: 20px;
  transition: 0.3s;
  background-color: #fff;
  padding: 2px;
}

label > input:focus + span {
  color: #394867;
  font-size: 12px;
  transition: 0.3s;
  top: -10px;
}

.termofuse {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.termofuse input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin: 0;
}

.termofuse a {
  color: #394867;
  text-decoration: none;
}
.signup {
  display: center;
  justify-content: center;
}

.buttondiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}
.buttondiv > button {
  border: 1px solid gray;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 3px 8px;
}

/* ------payment----- */

.paymentContainer {
  color: #28333b;
  font-family: sans-serif;
  font-size: 1em;
  padding: 0px 25px;
  width: 60%;
  margin: auto;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
}
.fieldfull button {
  padding: 12px;
  width: 50%;
  border-radius: 6px;
  background-color: skyblue;
  border: 1px solid gray;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.label {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 8px;
}

.fieldfull {
  margin-bottom: 25px;
  width: 100%;
}

.fieldhalf {
  margin-bottom: 25px;
  width: calc(50% - 12px);
}

label {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 8px;
}

input[type="text"] {
  padding: 12px;
  border-radius: 6px;
  border: 2px solid #e8ebed;
  display: block;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

input::placeholder {
  color: #e8ebed !important;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.card {
  padding: 50px;
  margin: 50px auto;
  max-width: 850px;
  background: #ffffff;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0px 24px 60px -1px rgba(37, 44, 54, 0.14);
}

.card-title {
  margin-bottom: 50px;
}

.card-title > h2 {
  margin: 0;
}

.card-body .payment-type > .types {
  margin: 25px 0;
}

.payment-type > .type {
  width: 30%;
  position: relative;
  background: #f2f4f7;
  border: 2px solid #e8ebed;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}

.logo {
  font-size: 48px;
  color: #8a959c;
}

p {
  margin-bottom: 0;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #8a959c;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.num {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid #40b3ff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 12px;
  font-size: 12px;
}

.button {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  padding: 15px 25px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease;
  background: transparent;
  border: 2px solid transparent;
}

.button-link {
  padding: 0 0 2px;
  margin: 0 25px;
  border-bottom: 2px solid rgba(64, 179, 255, 0.5);
  border-radius: 0;
  opacity: 0.75;
}

.button-link:hover {
  border-bottom: 2px solid rgba(64, 179, 255, 1);
  opacity: 1;
}

.button-primary {
  background: #40b3ff;
  color: #fff;
}

.button-primary:hover {
  background: #218fd9;
}

.button-secondary {
  background: transparent;
  border-color: #e8ebed;
  color: #8a959c;
}

.button-secondary:hover {
  border-color: #28333b;
  color: #28333b;
}

#submitOtp {
  display: flex;
  margin: auto;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: lightgreen;
}

#regenerate {
  display: flex;
  margin: auto;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: rgb(241, 147, 147);
}

#otpBox > label {
  text-align: center;
}

#otpBox {
  border: 1px solid rgb(209, 209, 209);
  background-color: rgb(248, 238, 238);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5px 25px 10px 10px;
  border-radius: 8px;
  display: none;
  position: absolute;
  right: 30%;
}

#otp {
  margin: 5px 20px 10px 10px;
  box-shadow: 0px 24px 60px -1px rgba(37, 44, 54, 0.14);
}

/* ---------------thankyou--- */

.thankyou {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 30%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.successfully h1,
h2 {
  color: rgb(104, 187, 104);
  text-align: center;
}
.successfully img {
  display: flex;
  margin: auto;
}

.women{
  margin: auto;
  width: 100%;
  display: flex;
}
.explore img{
 width: 23%;
 padding: 2%;
 /* display: flex; */
}
.explore h1{
  color: #182c52;
  padding-top: 20px;
  font-size: 45px;
  text-align: center;
  font-family: sans-serif bold;
  justify-content: space-between;
}